body {
  background-color: #222;
}

canvas {
  background-color: #fff;
  display: block;
  border: 1px solid white;
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}